_site/
.bundle/
_site_local/
_site_local_sync/
_site_preview_menu/
_site_preview_menu_2/
http-serve.log
http-serve.err.log
jekyll-serve.log
jekyll-serve.err.log
.jekyll-cache/
.jekyll-metadata
.sass-cache/
*.gem
*.swp
*~
.DS_Store
Thumbs.db
